body{
    background-color: #1F2937;
    color: white;
}

/* HEADER */
.head-section{
    padding-left:14%;
    padding-right:14%;
}

.header{
    display: flex;
    list-style-type: none;
    padding:0;
}

.header-logo{
    margin-right: auto;
    font: roboto;
}

.header-links{
    display: flex;
    gap:30px;
}


/* ------- */